* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    padding: 25px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
}

form > h3 {
    font-size: 24px;
}

div > h3 {
    font-size: 18px;
}
